
body{
    background-color:#e3e5e8;
}
.text{
    margin:0px;
    height:30px;
    background-color: #e3e5e8;
    /*font-size:large;*/
    text-align: center;
    padding:5px;
}
.header{
    margin:0px;
    height:30px;
    background-color:#ce1c00;

}
.header1{
    margin:0px;
    height:60px;
    background-color:#ce1c00;
}
#shipping{
    color:white;
    font-size: 12px;
    font-weight: bold;
}
#phno{
    color: white;
    margin-left:239px;
    font-size:12px;
    font-weight: bold;
}
.guitar{
    height:58px;
    width:90px;
}
.form-control{
    width:225px;
    margin-top:18px;
}
.store{
    display:inline-block;
    color:white;
    margin-left: 15px;
    margin-top:31px;
    

}
.signin{
    color:white;
    display:inline-block;
    margin-left:-2px;
    margin-top:10px;

}
.btn {
    height:27px;
    width:98px;
}
.cart{
    display:inline-block;
    color:white;
    margin-left:0px;
    margin-top:0px;
}

.navig{
    background-color: black;
}
.navig ul li a{
    color:white;
    padding:5px 15px;
}
.navig ul li a:hover {
    color: black;
}
.navig1{
    margin-left:400px;
}
.sub2{
    margin-left:225px;

    }
.sub1 li a{
    padding:5px 5px;
    color:black;
}
.sub1 li a:hover{
    color:red;
}
.deals{
    color:white;
    font-weight: bold;
    font-size: 25px;
    background-color:#ce1c00 ;
    padding:1px 8px;
    border-radius: 3px;
}

.productimg{
    margin-top:20px;
    height:200px;
    width:200px;

}
#product{
    height:400px;
    width:300px;
    border:1px solid black;
    display:inline-block;
}
.whitediv{
    height:400px;
    width:1021px;
    margin-left:202px;
    z-index:+1;
    background-color: white;
    display:none;
    position:absolute;


}
@media screen and (max-width: 699px) and (min-width: 520px) {
    
}